:root {
    --black: #000000;
    --black-03: rgba(0, 0, 0, 0.3);
    --black-06: rgba(0, 0, 0, 0.6);
    --black-08: rgba(0, 0, 0, 0.8);
    --white: #ffffff;
    --light-grey: #eeeeee;
    --deep-sky-blue: #00D6FF;
    --silver: #C4C4C4;
    --silver-1: #BEBEBE;
    --snow: #f9f9f9;
    --black-pearl: #172022;
}